{
  "tabWidth": 2,
  "semi": true,
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "none",
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
